<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <div class="page-container">
    <form action="/admin/login" method="POST" class="form-frame">
      <div class="form-top">
        <span>Login</span>
        <div>Go back <a href="/admin" style="color: #ffeedd">Home</a></div>
        <p>
          Not registered yet?
          <a href="/admin/signup" style="color: #ffeedd">Signup</a>
        </p>
      </div>

      <div class="input-frame">
        <div class="input-group">
          <label>Restaurant *</label>
          <input
            type="text"
            name="memberNick"
            placeholder="Username"
            required
          />
        </div>
        <div class="input-group">
          <label>Password *</label>
          <input
            type="password"
            name="memberPassword"
            placeholder="Password"
            required
          />
        </div>
      </div>

      <button type="submit" class="submit-btn">Login</button>
    </form>
  </div>
</body>

<%- include('includes/footer') %>
